/* You can add global styles to this file, and also import other style files */
/* Importar tipografías de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto:wght@400;500&display=swap');

/* Variables globales de TotoCards */
:root {
  --color-primario: #2A75BB;
  /* Azul Totodile - Header/Footer */
  --color-acento: #E3350D;
  /* Rojo Escama - Botones/CTA */
  --color-fondo: #F4F6F8;
  /* Gris Nube - Body */
  --color-texto: #2D3748;
  /* Gris Pizarra - Textos */
  --color-detalles: #FFD700;
  /* Amarillo Eléctrico - Iconos/Estrellas */

  --fuente-titulos: 'Poppins', sans-serif;
  --fuente-cuerpo: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-cuerpo);
}

h1,
h2,
h3 {
  font-family: var(--fuente-titulos);
}